Prova.WCF.Client/Connected Services/ServiceReference/Prova.Core.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prova.Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prova.Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodiceCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordini" nillable="true" type="tns:ArrayOfOrdine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfOrdine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ordine" nillable="true" type="tns:Ordine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdine" nillable="true" type="tns:ArrayOfOrdine" />
  <xs:complexType name="Ordine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="CodiceOrdine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceProdotto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataOrdine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Importo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ordine" nillable="true" type="tns:Ordine" />
</xs:schema>