Prova.WCF.Client/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Prova.Core.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetClienti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienti" />
  </wsdl:message>
  <wsdl:message name="IService_GetClienti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClienteById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteById" />
  </wsdl:message>
  <wsdl:message name="IService_GetClienteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCliente" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCliente" />
  </wsdl:message>
  <wsdl:message name="IService_EditCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteClienteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClienteById" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteClienteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClienteByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetClienti">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClienti" message="tns:IService_GetClienti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClientiResponse" message="tns:IService_GetClienti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClienteById" message="tns:IService_GetClienteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClienteByIdResponse" message="tns:IService_GetClienteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewCliente" message="tns:IService_AddNewCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewClienteResponse" message="tns:IService_AddNewCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditCliente" message="tns:IService_EditCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditClienteResponse" message="tns:IService_EditCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClienteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteClienteById" message="tns:IService_DeleteClienteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteClienteByIdResponse" message="tns:IService_DeleteClienteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClienti">
      <soap:operation soapAction="http://tempuri.org/IService/GetClienti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteById">
      <soap:operation soapAction="http://tempuri.org/IService/GetClienteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCliente">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCliente">
      <soap:operation soapAction="http://tempuri.org/IService/EditCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClienteById">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteClienteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Prova.WCF.Library/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>